<section class="content">
    <section class="invoice">
        {{ form.valid }}
        {{ form.value | json }}

        <form #form="ngForm" novalidate>
            <div class="row">
                <div class="col-md-10">
                    <h2 class="page-header">
                        Novo Contato
                    </h2>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label class="control-label">Nome Completo</label>
                    <div>
                        <input class="form-control" name="nomeCompleto" type="text" placeholder="Nome (requerido)" ngModel/>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="form-group">
                    <label class="control-label">Apelido</label>
                    <div>
                        <input class="form-control" name="apelido" type="text" placeholder="Apelido" ngModel/>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="form-group">
                    <label class="control-label">E-mail</label>
                    <div>
                        <input class="form-control" name="email" type="text" placeholder="E-mail (requerido)" ngModel/>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="form-group">
                    <label class="control-label">Telefone</label>
                    <div>
                        <input class="form-control" name="telefone" type="text" placeholder="Telefone (requerido)" ngModel/>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
            <br/>
            <button [disabled]="form.invalid">Save</button>
        </form>
    </section>
</section>