<section class="content">
    <section class="invoice">
        {{ form.valid }}
        {{ form.value | json }}

        <form #form="ngForm" novalidate>
            <div class="row">
                <div class="col-md-10">
                    <h2 class="page-header">
                        Novo Contato
                    </h2>
                </div>
            </div>

            <div class="row">
                <app-input-form label="Nome" errorMessage="Campo obrigatório">
                    <input class="form-control" name="nomeCompleto" type="text" placeholder="Nome (requerido)" 
                            required minlength="5" maxlength="75" #iptNomeCompleto="ngModel" ngModel/>
                </app-input-form>
            </div>
            <br/>
            <div class="row">
                <app-input-form label="Apelido">
                    <input class="form-control" name="apelido" type="text" placeholder="Apelido" ngModel/>
                </app-input-form>
            </div>
            <br/>
            <div class="row">
                <app-input-form label="E-mail" errorMessage="Campo obrigatório">
                    <input class="form-control" name="email" type="text" placeholder="E-mail (requerido)" ngModel
                            required minlength="5" maxlength="255" #iptEmail="ngModel"/>
                </app-input-form>
            </div>
            <br/>
            <div class="row">
                <app-input-form label="Telefone" errorMessage="Campo obrigatório">
                    <input class="form-control" name="telefone" type="text" placeholder="Telefone (requerido)" ngModel
                    required #iptTelefone="ngModel"/>
                </app-input-form>
            </div>
            <br/>
            <button [disabled]="form.invalid">Save</button>
        </form>
    </section>
</section>